<a href="https://colab.research.google.com/github/NeroZeo/Estudos-Progamacao/blob/main/Aula_Listas_e_Lacos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
idade = int(input('Informe a idade do atleta.\n'))
if(idade < 14 ):
  print('Infantil.')
elif(idade < 18):
   print('Juvenil.')
else:
  print('Sênior.')

Informe a idade do atleta.
5
Infantil.

In [8]:
#A minha lista de numeros...
num = [1, 5, 2, 65, 9, 45, 75, 7, 6, 0, 6]

In [17]:
num

[1, 5, 2, 65, 9, 45, 75, 7, 6, 0, 6]

In [9]:
len(num)

11

In [12]:
print(num[10])

6

In [15]:
alunos = ['Lucas','Emanuel','Geraldo','Igor','José','Murilo','Judith','Mariana','Rubbens','Antônio','Balu','Thiago','Alex','Elizabeth','Carina','Carla','Cesar']
len(alunos)

17

In [22]:
alunos[0] = 'Chris'
alunos[1] = 'Arthur'
alunos[5] = 'Joe'
alunos.append('Maunuel')
alunos.append(input('Digite o nome: '))

Digite o nome: Cornovaldo

In [23]:
alunos

['Chris',
 'Arthur',
 'Geraldo',
 'Igor',
 'José',
 'Joe',
 'Judith',
 'Mariana',
 'Rubbens',
 'Antônio',
 'Balu',
 'Thiago',
 'Alex',
 'Elizabeth',
 'Carina',
 'Carla',
 'Cesar',
 'Maunuel',
 'Zacarias',
 'Maunuel',
 'Aleandro',
 'Maunuel',
 'Cornovaldo']

In [31]:
nome = input('Qual o nome: ')
if nome in alunos:
  print('Tem sim', nome)
else:
  print('Tem não', nome)

Qual o nome: Cornovaldo
Tem sim Cornovaldo

In [32]:
del alunos[0]
alunos

['Arthur',
 'Geraldo',
 'Igor',
 'José',
 'Joe',
 'Judith',
 'Mariana',
 'Rubbens',
 'Antônio',
 'Balu',
 'Thiago',
 'Alex',
 'Elizabeth',
 'Carina',
 'Carla',
 'Cesar',
 'Maunuel',
 'Zacarias',
 'Maunuel',
 'Aleandro',
 'Maunuel',
 'Cornovaldo']

In [40]:
numeros = []
for num in range(15):
  numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [42]:
dobro = []
for num in numeros:
  dobro.append(numeros[num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [56]:
for num in numeros:
  if numeros[num]%2 == 1:
    print(numeros[num])

1
3
5
7
9
11
13